<div class="pure-menu pure-menu-open">
  <a class="pure-menu-heading" href="<%= root_path %>">Tidbit</a>
  <ul>

    <li class="<%= current_page?(questions_path) ? 'pure-menu-selected' : '' %>">
      <a href="<%= questions_path %>">Questions</a>
    </li>

    <li class="<%= current_page?(categories_path) ? 'pure-menu-selected menu-item-divided' : 'menu-item-divided' %>">
      <a href="<%= categories_path %>">Categories</a>
    </li>


  </ul>
</div>
