<!DOCTYPE html>
<html>
<head>
  <title>Tidbit | <%= yield(:title) %></title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/base-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="layout">
  <a href="#menu" id="menuLink" class="menu-link">
      <span></span><!-- TODO(raymond) add a menu button -->
  </a>
  <div id="menu">
      <%= render partial: 'shared/menu' %>
  </div>
  <div id="main">
      <%= yield %>
  </div>
</div>

<p> Welcome <%= current_user.username %> </p>

</body>
</html>
